<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archiving.asset.dao.mapper.AgentMapper">

	<!-- /* 에이전트 목록 조회(서버/에이전트ID/사용여부 조건) */ -->
	<select id="selectAgentList" resultType="com.archiving.asset.dto.AgentDto">
		SELECT
			A.SERVER_ID   AS serverId,
			A.AGENT_ID    AS agentId,
			A.AGENT_NM    AS agentNm,
			A.AGENT_PORT  AS agentPort,
			S.SERVER_NM   AS serverNm,
			S.SERVER_IP   AS serverIp,
			A.ACCOUNT_CD  AS accountCd,
			A.PASSWORD    AS password,
			A.PATH        AS path,
			A.DESCRIPTION AS description,
			A.RUN_CD      AS runCd,
			C.DETAIL_NM   AS runNm,
			A.USE_YN      AS useYn
		FROM mhdb.TB_AGENT A
		LEFT OUTER JOIN mhdb.TB_CODE_DETAIL C
			ON A.RUN_CD = C.DETAIL_CD
			AND 'RUN_CD' = C.GROUP_CD
		JOIN mhdb.TB_SERVER S
			ON A.SERVER_ID = S.SERVER_ID
		WHERE 1=1
		<if test='useYn != null and useYn != "" and useYn != "A"'>
			AND A.USE_YN like concat('%', #{useYn}, '%')
		</if>
		<if test='serverId != null and serverId != "" and serverId != "*"'>
			AND A.SERVER_ID = #{serverId}::integer
		</if>
		<if test='agentId != null and agentId != "" and agentId != "*"'>
			AND A.AGENT_ID = #{agentId}
		</if>
		ORDER BY A.AGENT_NM
	</select>

	<!-- /* 에이전트 신규 등록 */ -->
	<insert id="insertAgent" parameterType="com.archiving.asset.dto.AgentSaveParamDto">
		INSERT INTO mhdb.TB_AGENT (
			AGENT_NM,
			AGENT_PORT,
			SERVER_ID,
			ACCOUNT_CD,
			PASSWORD,
			PATH,
			RUN_CD,
			USE_YN,
			DESCRIPTION
		)
		VALUES (
			#{agent_nm},
			#{agent_port},
			#{server_id},
			#{account_cd},
			#{password},
			#{path},
			#{run_cd},
			#{use_yn},
			#{description}
		)
	</insert>

	<!-- /* 에이전트 정보 수정 */ -->
	<update id="updateAgent" parameterType="com.archiving.asset.dto.AgentSaveParamDto">
		UPDATE mhdb.TB_AGENT
		SET
			AGENT_NM = #{agent_nm},
			AGENT_PORT = #{agent_port},
			ACCOUNT_CD = #{account_cd},
			PASSWORD = #{password},
			PATH = #{path},
			DESCRIPTION = #{description},
			RUN_CD = #{run_cd},
			USE_YN = #{use_yn}
		WHERE 1=1
			AND SERVER_ID = #{server_id}
			AND AGENT_ID = #{agent_id}
	</update>

	<!-- /* 에이전트 삭제 */ -->
	<delete id="deleteAgent">
		DELETE FROM mhdb.TB_AGENT
		WHERE 1=1
			AND SERVER_ID = #{serverId}::integer
			AND AGENT_ID = #{agentId}
	</delete>

</mapper>

