<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.archiving.bulkjob.dao.mapper.BulkInquiryJobResultMapper">

	<!-- /* 메뉴 전체 조회(옵션: 사용중 메뉴만) */ -->
	<select id="selectAllMenus" resultType="com.archiving.bulkjob.dao.mapper.BulkInquiryJobResultMapper$MenuRow">
		SELECT DISTINCT
			lpad(M.MENU_CD,5,'0') AS menuCd,
			M.MENU_NM AS menuNm,
			M.MENU_URL AS menuUrl,
			M.MENU_ORDER AS menuOrder,
			M.MENU_ID AS menuId,
			M.MENU_DESC AS menuDesc,
			M.UP_MENU_ID AS upMenuId,
			M.USE_YN AS useYn,
			'Y' AS menuYn,
			COALESCE(M.ICON_CLASS_ID,'') AS iconClassId
		FROM mhdb.TB_MENU M
		<if test="onlyUseYn">
			WHERE M.USE_YN = 'Y'
		</if>
		ORDER BY M.MENU_ORDER
	</select>

	<!-- /* 사용자별 권한 메뉴 조회 */ -->
	<select id="selectUserMenus" resultType="com.archiving.bulkjob.dao.mapper.BulkInquiryJobResultMapper$MenuRow">
		SELECT
			lpad(M.MENU_CD,5,'0') AS menuCd,
			M.MENU_NM AS menuNm,
			M.MENU_URL AS menuUrl,
			M.MENU_ORDER AS menuOrder,
			M.MENU_ID AS menuId,
			M.MENU_DESC AS menuDesc,
			M.UP_MENU_ID AS upMenuId,
			M.USE_YN AS useYn,
			'Y' AS menuYn,
			COALESCE(M.ICON_CLASS_ID,'') AS iconClassId
		FROM mhdb.TB_MENU M
		WHERE M.USE_YN = 'Y'
		  AND M.MENU_ID IN (
			SELECT A.MENU_ID
			FROM mhdb.TB_USER_AUTH A, mhdb.TB_USER_MEMBER UM
			WHERE 1=1
			  AND UM.USER_GRP_ID = A.USER_GB
			  AND UM.USER_ID = #{userId}
		  )
		ORDER BY M.MENU_ORDER
	</select>

</mapper>

